.form-view {
  display: flex;
  align-items: stretch;
  text-align: left;
  flex-direction: column;
  gap: 33px;
}

.form-view_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-view__header {
  margin-bottom: 20px;
}

.children-control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-view__save-button,
.form-view__add-child-button {
  cursor: pointer;
  background-color: #01a7fd;
  border: none;
  align-self: flex-start;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  border-radius: 100px;
  width: 118px;
  padding: 17px 21px;
}

.form-view__add-child-button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  width: auto;
  border: 2px solid #01a7fd;
  padding: revert;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  color: #01a7fd;
}
